/* You can add global styles to this file, and also import other style files */

@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/Over-Write-Css/material-overwrite.css';

body{
   background-color: #f3f9f6  !important;
   margin: 0;
   padding: 0;
}