<!-- Members List Section -->
<div class="Members_List_Section">
   <!-- Heading -->
   <div class="Heading">
      <div class="row">
         <div class="col-sm-6 heading">
            <h6>உறுப்பினர்கள் விவரம்</h6>
         </div>
      </div>
   </div><br>
   <!-- Search Section -->
   <div class="search_section">
      <form>
         <div class="row">
            <div class="col-sm-3 Form_Select">
               <label>மாவட்டம் </label><br>
               <select>
                  <option>மாவட்டம்  தேர்வு</option>
                  <option>மாவட்டம்  தேர்வு</option>
                  <option>மாவட்டம்  தேர்வு</option>
                  <option>மாவட்டம்  தேர்வு</option>
                  <option>மாவட்டம்  தேர்வு</option>
               </select>
            </div>
            <div class="col-sm-3 Form_Select">
               <label> ஒன்றியம் வாரியாக</label><br>
               <select>
                  <option>ஒன்றிய தேர்வு</option>
               </select>
            </div>
            <div class="col-sm-3 Form_Select">
               <label> கிளை வாரியாக   </label><br>
               <select>
                  <option>  கிளை தேர்வு </option>
               </select>
            </div>
            <div class="col-sm-3 Form_Input">
               <label> உறுப்பினர் பதிவு எண்   </label><br>
               <input type="text">
            </div>
         </div>
      </form>
   </div><br>
   <!-- Button -->
   <div class="button_section" style="float:right;">
      <button mat-raised-button color="primary" style="margin-right:10px">தேடுக</button>
      <button mat-raised-button style="background-color: #c34848;color: #fff; "> மீட்டமைக்க </button>
   </div><br><br>
   <!-- search -->
   <div class="search">
      <input type="text" placeholder="Search">
   </div><br><br>
   <!-- Table Section -->
   <div class="Table_Section">-
      <table>
         <thead>
            <tr>
               <th>வ.எண்</th>
               <th>பெயர்</th>
               <th>தொலைபேசி</th>
               <th>கல்வி தகுதி </th>
               <th>இரத்த வகை</th>
               <th>மாவட்டம்</th>
               <th>அச்சிட</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><span>1</span></td>
               <td><span>krishna</span></td>
               <td><span>436546757678</span></td>
               <td><span>be</span></td>
               <td><span>B +ve</span></td>
               <td><span>Erode</span></td>
               <td><span><button mat-raised-button color="primary">Primary</button></span></td>
            </tr>
            <tr>
               <td><span>2</span></td>
               <td><span>krishna</span></td>
               <td><span>436546757678</span></td>
               <td><span>be</span></td>
               <td><span>B +ve</span></td>
               <td><span>Erode</span></td>
               <td><span><button mat-raised-button color="primary">Primary</button></span></td>
            </tr>
            <tr>
               <td><span>3</span></td>
               <td><span>krishna</span></td>
               <td><span>436546757678</span></td>
               <td><span>be</span></td>
               <td><span>B +ve</span></td>
               <td><span>Erode</span></td>
               <td><span><button mat-raised-button color="primary">Primary</button></span></td>
            </tr>
            <tr>
               <td><span>4</span></td>
               <td><span>krishna</span></td>
               <td><span>436546757678</span></td>
               <td><span>be</span></td>
               <td><span>B +ve</span></td>
               <td><span>Erode</span></td>
               <td><span><button mat-raised-button color="primary">Primary</button></span></td>
            </tr>
            <tr>
               <td><span>5</span></td>
               <td><span>krishna</span></td>
               <td><span>436546757678</span></td>
               <td><span>be</span></td>
               <td><span>B +ve</span></td>
               <td><span>Erode</span></td>
               <td><span><button mat-raised-button color="primary">Primary</button></span></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
